header {
  width: 750px;
  height: 235px;
  background-color: #2d7053;
  margin-left: auto;
  margin-right: auto;
}

.elips {
  float: left;
  border-radius: 70px;
  width: 141px;
  height: 141px;
  background-color: white;
  margin: 47px 58px 47px 38px;
}

.name {
  float: left;
  width: 134px;
  height: 131px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 52px;
  margin-bottom: 52px;
}

.menu {
  float: right;
  margin-top: 76px;
  margin-bottom: 75px;
  margin-right: 35px;
}

.rect {
  width: 84px;
  height: 12px;
  background-color: white;
  border-radius: 7px;
  margin: 12px;
}

.mainContent {
  width: 750px;
  height: 466px;
  margin-left: auto;
  margin-right: auto;
}

.mainContent2 {
  width: 750px;
  height: 1025px;
  margin-left: auto;
  margin-right: auto;
}

.mainImg img{
  width: 100%;
  height: auto;
}

.mainImg .btn {
  display: inline-block;
  width: 341px;
  height: 74px;
  background-color: #cb9223;
  position: absolute;
  left: 38%;
  margin-top: 345px;
}

.elips2 {
  float: left;
  width: 247px;
  height: 247px;
  margin-left: 44px;
  margin-top: 73px;
}

.elips2 img {
  border-radius: 123px;
}

.inf1 {
  width: 210px;
  height: 27px;
  float: right;
  margin-top: 134px;
  margin-right: 174px;
  font-size: 32px;
  font-weight: 600;
}

.inf2 {
  width: 245px;
  height: 50px;
  float: right;
  font-size: 23px;
  margin-top: 29px;
  margin-right: 141px;
}

.text {
  width: 590px;
  height: 166px;
  float: right;
  font-size: 22px;
  margin-right: 116px;
  margin-top: 60px;
}

.inf3 {
  width: 545px;
  height: 32px;
  float: left;
  margin-left: 44px;
  margin-top: 46px;
  font-size: 32px;
  font-weight: 600;
}

.inf4 {
  width: 256px;
  height: 190px;
  float: left;
  margin-left: 18px;
  font-size: 22px;
  margin-top: 42px;
}

li {
  list-style-type: "- ";
}

.btn2 {
  display: inline-block;
  width: 341px;
  height: 74px;
  float: left;
}

.signUp {
  width: 341px;
  height: 74px;
  background-color: #cb9223;
  position: absolute;
  left: 38%;
  margin-top: 277px;
}

.foot {
  width: 750px;
  height: 153px;
  margin-left: auto;
  margin-right: auto;
  background-color: #888888;
}

.elips3 {
  display: inline-block;
  background-color: white;
  width: 96px;
  height: 96px;
  margin-top: 29px;
  margin-left: 45px;
  border-radius: 49px;
}

.tel {
  width: 136px;
  height: 15px;
  text-decoration: none;
  color: white;
  float: right;
  margin-top: 56px;
  margin-right: 44px;
}

.adres {
  width: 199px;
  height: 17px;
  text-decoration: none;
  color: white;
  float: right;
  margin-top: 102px;
  margin-right: 38px;
}

.mail {
  width: 144px;
  height: 17px;
  text-decoration: none;
  color: white;
  float: right;
  margin-right: -144px;
  margin-top: 98px;
}

a {
  text-decoration: none;
  color: white;
}